header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    align-items: center;
    justify-content: space-between;
    background-color: #0b5154;
    text-align: center;
    width: 100%;
    border-radius: 10px;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    border-radius: 10%;
}

nav ul li  {
    text-decoration: none;
    color: #ffffff;
    display:inline-flex;  
    cursor: pointer;
    &:hover {
        color: #039c99;
    }
    padding-inline: 16px;
    padding-block: 8px;
    align-items: center;
    justify-content: space-between;
}

